<ng-container *ngIf="isLoading">
  Chargement en cours
</ng-container>

<ng-container *ngIf="!isLoading">
  <h1>{{ chaussures.length }} chaussures en stock</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Marque</th>
      <th scope="col">Type</th>
      <th scope="col">Taille</th>
      <th scope="col">Date d'entrée en stock</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let chaussure of chaussures">
      <th scope="row" class="lineChaussure">{{ chaussure.id }} </th>
      <td>{{ chaussure.nom }}</td>
      <td>{{ chaussure.marque }}</td>
      <td>{{ chaussure.type }}</td>
      <td>{{ chaussure.taille }}</td>
      <td>{{ chaussure.dateEntreStock|date: "d/MM/y" }}</td>
      <td>
        <a [routerLink]="['/chaussure/', chaussure.id]">Voir le détail</a> <br>
        <a [routerLink]="['/edit', chaussure.id]">Editer</a> <br>
        <a class="cursor-pointer" (click)="deleteChaussure(chaussure)">Supprimer</a>
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>
