<div class="container">
  <form #validationForm="ngForm" (ngSubmit)="addChaussure()">
    <div class="form-group">
      <label>Nom de la chaussure</label>
      <input #chaussureInput="ngModel"
             id="nom" name="nom" type="text" class="form-control"
             [(ngModel)]="chaussureForm.nom" required>
      <div [hidden]="chaussureInput.valid" class="alert alert-danger">
        Le nom de la chaussure n'est pas valide
      </div>
    </div>

    <div class="form-group">
      <label>Marque de la chaussure</label> <br>
      <ng-container *ngFor="let marque of marqueDisponible">
        <div>
          <input type="radio" id="inputRadio-{{ marque }}"
                 #marqueValidation="ngModel"
                 name="marque" [value]="marque" required [(ngModel)]="chaussureForm.marque">
          <label for="customRadio">{{ marque }}</label>
        </div>
      </ng-container>
      <div [hidden]="validationForm.controls.marque?.valid" class="alert alert-danger">
       La marque de la chaussure est nécessaire
      </div>
    </div>


    <div class="form-group">
      <label>Type de chaussure disponible</label> <br>
      <select #type="ngModel" name="type"
              [(ngModel)]="chaussureForm.type"
              required class="form-control">
        <option></option>
        <option *ngFor="let type of typeChaussureDisponible">
          {{ type }}
        </option>
      </select>
      <div [hidden]="type.valid" class="alert alert-danger">
        Le type de la chaussure est nécessaire
      </div>
    </div>

    <div class="form-group">
      <label>Taille de la chaussure</label> <br>
      <input [(ngModel)]="chaussureForm.taille" name="taille"
             type="number" class="form-control" required #taille="ngModel" step="0.5">
      <div [hidden]="taille.valid" class="alert alert-danger">
        La marque de la chaussure est nécessaire
      </div>
    </div>

    <input id="submitFormChaussure" [disabled]="!validationForm.valid" type="submit" class="btn btn-success" value="Valider">

  </form>
</div>
