<div class="container">
<ng-container *ngIf="isLoading">
  Chargement en cours
</ng-container>

<ng-container *ngIf="!isLoading">
  <h1>Détail de la chaussure n° {{ chaussure.id }}</h1>
  <label>Nom : {{ chaussure.nom }}</label> <br>
  <label>Marque : {{ chaussure.marque }}</label><br>
  <label>Type : {{ chaussure.type }}</label><br>
  <label>Taille : {{ chaussure.taille }}</label><br>
  <label>Date d'entrée en stock : {{ chaussure.dateEntreStock|date: 'd/MM/y' }}</label>
</ng-container>


</div>
