<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink='/dashboard'>Voir toutes les chaussures</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/add' id="buttonAddChaussure">Ajouter une chaussure</a>
    </li>
  </ul>

</nav>
